.new{
  font-size: 20px;
}
.post{
  border: 1px solid;
  margin-top: 20px;
  width: 40%;
  padding: 10px;
}
.post-data{
  color: gray;
}
form{
  width: 30%;
  height: 320px;
}
input{
  height: 40px;
  margin: 20px 0 0 20px;
}
.three{
  height: 80px;
}
.for{
  margin-left: 60px;
}